:root {
  --spacing: 20px;
}

.w-100 {
  width: 100%;
}
.hu-section {
  height: 100vh;
  overflow-y: auto;
}
a {
  display: inline-block;
}

.hu-section {
  padding: calc(var(--spacing) * 4) var(--spacing) var(--spacing);
}

.ant-layout-sider-zero-width-trigger-left {
  top: var(--spacing) !important;
  inset-inline-end: calc(-3 * var(--spacing) ) !important;
  border-radius: 6px !important;
}

/* .hu-sidebar {
  overflow: hidden;
} */

@media (min-width: 992px) {
  .hu-sidebar {
    padding: 10px;
  }
  .hu-section {
    padding: 40px;
  }
}

@media (min-width: 1200px) {
  .hu-table__col-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .hu-table__row:hover .hu-table__col-actions {
    visibility: visible;
    opacity: 1;
  }
}

.hu-sidebar__menu-item {
  width: 100%;
  padding: 10px 30px;
  color: #000000 !important;
}

.hu-table .ant-table {
  overflow-x: auto;
}

.hu-profile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: rgb(192, 192, 192);
  margin-bottom: 30px;
}

.hu-sidebar__menu {
  width: 200px;
  min-width: 200px;
  border-inline-end: none !important;
}

.hu-table .ant-form-item {
  margin-bottom: 0 !important;
}
.hu-error {
  color: red;
}